@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.footer {
	background-color: rgba(0, 0, 0, 0.904);
	color: #ffffff;
	height: 40vh;
	display: flex;
	justify-content: space-between;
	padding: 30px 150px 25px 100px;
}

.footer > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer > div h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
}

.footer > div h3 span {
	color: tomato;
}

.footer > div > div p {
	line-height: 10px;
	letter-spacing: .3px;
}

.footer > div > div p span {
	color: tomato;
}

.footer > div ul {
	display: flex;
	list-style: none;
}

.footer > div ul li {
	font-family: 'Poppins', sans-serif;
	padding: 0 15px;
	text-transform: uppercase;
}

.footer > div ul li a {
	color: #ffffff;
}

.footer > div ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.footer .copyright {
	padding: 70px 30px;
}

.footer .copyright .footer_fonts #font {
	font-size: 24px;
	margin: 0 20px 50px 0;
}

.footer .copyright .footer_fonts #font:hover {
	color: tomato;
	cursor: pointer;
}

.footer .copyright p {
	letter-spacing: 1px;
	line-height: 0px;
}

.footer .copyright p:nth-child(1) {
	color: tomato;
}

.footer .copyright p #hrt {
	font-size: 24px;
	color: tomato;
}

/* -----------------------mobile responsiveness---------------------- */
@media screen and (max-width: 768px) {
	.footer {
		height: auto;
		flex-wrap: wrap;
		padding: 30px 20px;
	}

	.footer > div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.footer > div h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.footer > div > div p {
		font-size: 12px;
		line-height: 0px;
		letter-spacing: 0px;
	}

	.footer > div ul {
		display: flex;
		list-style: none;
	}

	.footer > div ul li {
		font-size: 14px;
		padding: 0 10px 0 0;
		margin-top: 20px;
	}

	.footer .copyright {
		padding: 20px 0;
		flex-direction: row-reverse;
	}

	.footer .copyright .footer_fonts #font {
		font-size: 14px;
		margin: 10px 0 0 20px;
	}

	.footer .copyright p {
		letter-spacing: 1px;
		line-height: 0px;
		margin-right: 100px;
	}

	.footer .copyright p #hrt {
		font-size: 14px;
	}
}
