@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.section {
	background: rgba(19, 18, 18, 0.336) url("../assets/lander.jpg") no-repeat center;
	background-blend-mode: darken;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.section header {
	margin: 150px 0 0 200px;
	color: white;
}

.section header hgroup h4 {
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 27px;
	margin: 0 0 24px;
	font-weight: 700;
	font-style: normal;
	border-bottom: 2px solid rgb(253, 65, 32);
	width: 270px;
}

.section header hgroup h1 {
	font-size: 88px;
	line-height: 75px;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
}

.section header p {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 30px;
	margin: 24px 0 34px;
}

.section header a {
	font-family: "Poppins", sans-serif;
	background: rgb(253, 65, 32);
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 20px 30px;
	letter-spacing: 1px;
	cursor: pointer;
}

.section header a:hover {
	background-color: rgb(190, 31, 2);
}

.section header a #font {
	font-size: 20px;
}

/* -----------------------------mobile responsiveness-------------------------- */
@media screen and (max-width: 768px) {
	.section {
		height: 80vh;
	}

	.section header {
		margin: 70px 0 0 10px;
	}

	.section header hgroup h4 {
		font-size: 14px;
		margin: 0 0 20px;
		width: 207px;
	}

	.section header hgroup h1 {
		font-size: 40px;
		line-height: 30px;
	}

	.section header p {
		font-size: 14px;
		line-height: 0px;
		margin: 24px 0 34px;
	}

	.section header a {
		font-size: 12px;
		padding: 15px 15px 15px 10px;
	}

	.section header a #font {
		font-size: 16px;
	}
}
