@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.modus {
	padding: 40px;
	padding-bottom: 60px;
	text-align: center;
	border-bottom: 1px solid rgba(128, 128, 128, 0.418);
}

.modus h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 36px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.modus .modusFlex {
	display: flex;
	justify-content: center;
}

.modus .modusFlex div {
	width: 350px;
	margin: 0 20px;
	padding: 20px 15px 15px;
	background-color: #8b87875b;
	color: #181818;
}

.modus .modusFlex div:hover {
	background-color: white;
	box-shadow: 0 2px 15px rgba(49, 48, 48, 0.815);
	animation: trans ease-in-out 250ms;
	animation-fill-mode: forwards;
}

@keyframes trans {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10px);
	}
}

.modus .modusFlex div h4 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.modus .modusFlex div hr {
	border: 1px solid rgb(253, 65, 32);
	width: 100px;
	margin: 0 auto;
}

.modus .modusFlex div .hr {
	width: 150px;
}

.modus .modusFlex div p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	letter-spacing: .2px;
	margin-top: 15px;
}

/* -------------------samples styles begins here--------------------- */
.samples {
	padding: 40px 100px;
}

.samples h3 {
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	font-size: 36px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.samples .first,
.samples .second,
.samples .third,
.samples .fourth,
.samples .fifth {
	display: flex;
	justify-content: space-between;
	margin: 0 0 100px 0;
	background-color: #a5a0a042;
	color: #181818;
}

.samples > div:hover {
	background-color: rgb(18, 38, 53);
	color: #ffffff;
	cursor: crosshair;
}

.samples .second:hover {
	background-color: rgba(151, 57, 2, 0.849);
}

.samples .third:hover {
	background-color: rgba(39, 16, 94, 0.925);
}

.samples .fourth:hover {
	background-color: rgba(0, 0, 0, 0.897);
}

.samples .fifth:hover {
	background-color: rgba(9, 114, 62, 0.89);
}

.samples > div:hover p {
	animation: move-up ease-in 500ms forwards;
}

.samples div h4 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 40px;
	font-weight: 500;
	margin: 30px auto 30px 50px;
	letter-spacing: 1px;
}

.samples div h4:nth-child(even) {
	margin: 30px auto 0 50px;
}

.samples div img {
	height: 450px;
	width: 700px;
}

.samples p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 22px;
	margin: 70px 20px 0 50px;
	opacity: 0;
}

@keyframes move-up {
	from {
		margin-top: 100px;
		opacity: 0.2;
	}
	to {
		margin-top: 0px;
		opacity: 0.9;
	}
}

/* -------------------------about styles begins here---------------------- */
.about {
	display: flex;
	padding: 0 180px 50px 180px;
}

.about div h2 {
	width: 350px;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 50px;
}

.about div p {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #312f2fad;
	line-height: 26px;
}

/* -----------------------------mobile responsiveness-------------------------- */
@media screen and (max-width: 768px) {
	.modus {
		padding: 20px;
	}

	.modus h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.modus .modusFlex {
		flex-wrap: wrap;
	}

	.modus .modusFlex div {
		width: 100%;
		margin: 10px;
	}

	.modus .modusFlex div h4 {
		font-size: 22px;
	}

	.modus .modusFlex div hr {
		width: 80px;
	}

	.modus .modusFlex div .hr {
		width: 100px;
	}

	.modus .modusFlex div p {
		font-size: 14px;
		letter-spacing: 0px;
		margin-top: 10px;
	}

	/* -------------------samples styles begins here--------------------- */
	.samples {
		padding: 20px 30px;
	}

	.samples h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.samples .first,
	.samples .second,
	.samples .third,
	.samples .fourth,
	.samples .fifth {
		flex-wrap: wrap;
		margin: 0 0 50px 0;
		color: #ffffff;
	}

	.samples .first {
		background-color: rgb(18, 38, 53);
		flex-direction: column-reverse;
	}

	.samples .second {
		background-color: rgba(151, 57, 2, 0.849);
	}

	.samples .third {
		background-color: rgba(39, 16, 94, 0.925);
		flex-direction: column-reverse;
	}

	.samples .fourth {
		background-color: rgba(0, 0, 0, 0.897);
	}

	.samples .fifth {
		background-color: rgba(9, 114, 62, 0.89);
		flex-direction: column-reverse;
	}

	.samples > div:hover p {
		animation: none;
	}

	.samples div h4 {
		font-size: 24px;
		margin: 20px auto 0px 20px;
		letter-spacing: 1px;
	}

	.samples div h4:nth-child(even) {
		margin: 20px auto 0px 20px;
	}

	.samples div img {
		height: 190px;
		width: 100%;
	}

	.samples p {
		font-size: 14px;
		margin: 20px 20px 60px 20px;
		opacity: 1;
	}

	/* -------------------------about styles begins here---------------------- */
	.about {
		flex-wrap: wrap;
		padding: 0 50px 20px;
	}

	.about div h2 {
		width: 100%;
		font-size: 24px;
		margin-right: 0px;
	}

	.about div p {
		font-size: 14px;
		line-height: 24px;
		margin-top: 20px;
	}
}
