@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.nav-container .firstNav {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(173, 173, 173, 0.521);
	padding: 20px 0;
}

.nav-container .firstNav .fonts #font {
	color: white;
	font-size: 14px;
	margin: 0 10px;
	cursor: pointer;
}

.nav-container .firstNav .fonts #font:hover {
	color: tomato;
}

.nav-container .firstNav .contact {
	display: flex;
	justify-content: space-evenly;
}

.nav-container .firstNav .contact {
	color: white;
}

.nav-container .firstNav,
.contact > div {
	display: flex;
}

.nav-container .firstNav,
.contact > div h2 {
	font-size: 12px;
	margin: 0 20px 0 5px;
}

.nav-container .secondNav {
	display: flex;
	justify-content: space-between;
	padding: 20px 200px;
}

.nav-container .secondNav h1 {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.nav-container .secondNav h1 span {
	color: tomato;
}

.nav-container .secondNav ul {
	display: flex;
	color: white;
}

.nav-container .secondNav ul li {
	list-style-type: none;
	font-size: 14px;
	font-weight: 300;
	margin: 0 15px;
	text-transform: uppercase;
}

.nav-container .secondNav ul li #link {
	color: white;
}

.nav-container .secondNav ul li:hover {
	color: tomato;
	cursor: pointer;
}

.nav-container .secondNav ul li #link:hover {
	color: tomato;
	cursor: pointer;
	text-decoration: none;
}

/* ---------------------------mobiles responsivess------------------------- */
@media screen and (max-width: 768px) {
	.nav-container .firstNav {
		padding: 10px 0;
		justify-content: space-between;
	}

	.nav-container .firstNav .fonts #font {
		font-size: 10px;
		margin: 0 5px;
	}

	.nav-container .firstNav,
	.contact > div h2 {
		font-size: 10px;
		margin: 0 10px 0 5px;
	}

	.nav-container .secondNav {
		padding: 20px 10px;
	}

	.nav-container .secondNav h1 {
		font-size: 18px;
	}

	.nav-container .secondNav ul {
		display: none;
	}

	.nav-container .secondNav ul li {
		font-size: 12px;
		margin: 0 5px;
	}
}
